.hero_section {
    position: relative;
    background: var(--hero-color);
}


.header_top {
    background: var(--hero-color);
    padding: 12px 0px;
}

.header_top_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
}

.header_contact_icon {
    color: var(--text-color);
}

.header_contact ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_contact ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--global-color);
    font-weight: 300;
}

.header_contact ul li a span {
    display: flex;
    line-height: 16px;
}

.header_social ul {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header_social ul li a {
    color: var(--global-color);
    display: block;
}

.header_social ul li a span {
    height: 28px;
    width: 28px;
    background-color: var(--text-color);
    border-radius: 50%;
    font-size: 14px;
    display: grid;
    place-content: center;
}

.header_social ul li a span i {
    line-height: 13px;
}

.main_header {
    background: rgb(255 255 255 / 80%);
    box-shadow: 0px 5px 30px rgb(0 0 0 / 10%);
    padding: 8px 0;
    position: relative;
}

.logo {
    width: 10%;
}

.logo_image {
    display: block;
    width: 40px;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.header_nav {
    flex: 1;
}

@media(max-width: 992px) {

    .header_nav {
        position: fixed;
        top: 0px;
        left: -100%;
        background: var(--global-color);
        z-index: 999;
        height: 100vh;
        width: 280px;
        overflow-y: auto;
        padding: 20px;
        transition: var(--transition);
    }

    .header_nav_list {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 12px !important;
    }

    .mobile_logo {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #close_btn {
        height: 32px;
        width: 32px;
        font-size: 22px;
        background: var(--main-color);
        color: var(--global-color);
        display: grid;
        place-content: center;
        border-radius: 6px;
    }

    .collapse_btn span {
        font-size: 28px;
        display: block;
        color: var(--main-color);
    }
}

.header_nav_list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header_nav_link {
    font-size: 16px;
    display: block;
    line-height: 24px;
    font-weight: 500;
}

.header_button a,
.banner_btn {
    display: inline-block;
    padding: 9px 25px;
    background: var(--main-color);
    color: var(--global-color);
    border-radius: 6px;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 1px solid var(--main-color);
}

.header_button a {
    border: 1px solid var(--hero-color);
    background: var(--hero-color);
}

.header_button a::after,
.banner_btn::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0;
    height: 100%;
    background: var(--secondary-color);
    z-index: -1;
    transition: var(--transition);
}

.header_button a:hover,
.banner_btn:hover {
    border-color: var(--secondary-color);
}

.header_button a:hover::after,
.banner_btn:hover::after {
    width: 100%;
    left: 0px;
}

.banner_btn_outile {
    background: transparent;
    border: 1px solid var(--global-color);
}

.header_right_wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

.dark_mood_btn {
    cursor: pointer;
}

.dark_mood_btninner {
    font-size: 20px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    display: grid;
    place-content: center;
    background: aliceblue;
}

.banner_section {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 1;
    position: relative;
}

.hero_content {
    background-image: url(../image/O¨O±O¬-O¨O§U„O_U…O±-U„U„OO¹U…O§U„-U¡-scaled-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    /* border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; */
}

.banner_section::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(14 22 129 / 40%);
    z-index: -1;
}

.banner_content {
    max-width: 900px;
    text-align: center;
    width: 100%;
    margin: 0px auto;
}

.banner_content_title {
    color: var(--global-color);
    font-size: 27px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}

.banner_content_text {
    font-size: 14px;
    font-weight: 300;
    color: var(--global-color);
    margin-bottom: 40px;
}

.banner_btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.client_section {
    background: var(--main-color);
}

.client_slider_item {
    background: var(--global-color);
    padding: 12px 15px;
    border-radius: 12px;
    margin: 0px 12px;
}



.client_slider_item img {
    width: unset;
    max-width: 100%;
    height: 80px;
    object-fit: contain;
    margin: 0px auto;
}

.client_section_title h1 {
    color: var(--global-color);
    text-align: center;
    margin-bottom: 30px;
}

.our_service {
    background: var(--main-color);
}

.our_service_content {
    background: var(--global-color);
    padding-top: 85px;
    padding-bottom: 50px;
}

.service_wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.service_item {
    width: 100%;
    text-align: center;
    position: relative;
    padding: 25px 20px;
    border-radius: 12px;
    background: var(--global-color);
    box-shadow: 0px 5px 30px rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: var(--transition);
    z-index: 1;
    overflow: hidden;
}

.service_item::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0px;
    top: 0px;
    right: 0px;
    background: var(--main-color);
    z-index: -1;
    transition: var(--transition);
}

.service_item:hover::after {
    left: 0px;
    width: 100%;
}

.service_item:hover .service_item_title {
    color: var(--global-color);
}

.service_item:hover .service_item_icon i {
    color: var(--global-color);
}

.service_item:hover .service_item_text {
    color: #cfcfcf;
}

.service_item_icon {
    margin-bottom: 20px;
}

.service_item_icon i {
    font-size: 54px;
    color: var(--hero-color);
    display: block;
    transition: var(--transition);
}

.service_item_title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 6px;
    transition: var(--transition);
}

.service_item_text {
    transition: var(--transition);
    font-weight: 300;
}

.about_section {
    background-image: url(../image/h2_blog_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.about_section::after {
    position: absolute;
    content: "";
    background-image: url(../image/shape.png);
    top: 0px;
    right: 0px;
    height: 280px;
    width: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    display: none;
}

.about-section_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px 8%;
    flex-wrap: wrap;
}

.about_section_thumb,
.about_section_content {
    width: 100%;
}

.about_button {
    margin-top: 30px;
}