.hero_section {
    position: relative;
    background: var(--hero-color);
}


.header_top {
    padding: 12px 0px;
    position: relative;
    z-index: 1;
    background-color: var(--main-color);
}


.header_top_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
}

.header_contact_icon {
    color: var(--text-color);
    height: 28px;
    width: 28px;
    display: grid !important;
    place-content: center;
    background: var(--global-color);
    border-radius: 50%;
    font-size: 14px !important;
}

.header_contact ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_contact ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--global-color);
    font-weight: 300;
}

.header_contact ul li a span {
    display: flex;
    line-height: 16px;
}

.header_social ul {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header_social ul li a {
    color: var(--global-color);
    display: block;
}

.header_social ul li a span {
    height: 28px;
    width: 28px;
    background-color: var(--text-color);
    border-radius: 50%;
    font-size: 14px;
    display: grid;
    place-content: center;
}

.header_social ul li a span i {
    line-height: 13px;
}

.main_header {
    background: var(--global-color);
    box-shadow: 0px 5px 30px rgb(0 0 0 / 10%);
    padding: 8px 0;
    position: relative;
    border-top: 1px solid var(--main-color);
}

.logo {
    width: 10%;
}

.logo_image {
    display: block;
    width: 40px;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.header_nav {
    flex: 1;
}

@media(max-width: 992px) {

    .header_nav {
        position: fixed;
        top: 0px;
        left: -100%;
        background: var(--global-color);
        z-index: 999;
        height: 100vh;
        width: 280px;
        overflow-y: auto;
        padding: 20px;
        transition: var(--transition);
    }

    .header_nav_list {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 12px !important;
    }

    .mobile_logo {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #close_btn {
        height: 32px;
        width: 32px;
        font-size: 22px;
        background: var(--main-color);
        color: var(--global-color);
        display: grid;
        place-content: center;
        border-radius: 6px;
    }

    .collapse_btn span {
        font-size: 28px;
        display: block;
        color: var(--main-color);
    }
}

.header_nav_list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header_nav_link {
    font-size: 16px;
    display: block;
    line-height: 24px;
    font-weight: 500;
}

.header_button a,
.banner_btn,
.contact_input_inner button {
    display: inline-block;
    padding: 9px 25px;
    background: var(--main-color);
    color: var(--global-color);
    border-radius: 6px;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 1px solid var(--main-color);
}

.header_button a {
    border: 1px solid var(--hero-color);
    background: var(--hero-color);
}

.header_button a::after,
.banner_btn::after,
.contact_input_inner button::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0;
    height: 100%;
    background: var(--secondary-color);
    z-index: -1;
    transition: var(--transition);
}

.header_button a:hover,
.banner_btn:hover,
.contact_input_inner button:hover {
    border-color: var(--secondary-color);
}

.header_button a:hover::after,
.banner_btn:hover::after,
.contact_input_inner button:hover::after {
    width: 100%;
    left: 0px;
}

.banner_btn_outile {
    background: transparent;
    border: 1px solid var(--global-color);
}

.header_right_wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

.dark_mood_btn {
    cursor: pointer;
}

.dark_mood_btninner {
    font-size: 20px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    display: grid;
    place-content: center;
    background: aliceblue;
}

.banner_section {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 1;
    position: relative;
}

.hero_content {
    background-image: url(../image/O¨O±O¬-O¨O§U„O_U…O±-U„U„OO¹U…O§U„-U¡-scaled-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.banner_section::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(14 22 129 / 40%);
    z-index: -1;
}

.banner_content {
    max-width: 900px;
    text-align: center;
    width: 100%;
    margin: 0px auto;
}

.banner_content_title {
    color: var(--global-color);
    font-size: 27px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}

.banner_content_text {
    font-size: 14px;
    font-weight: 300;
    color: var(--global-color);
    margin-bottom: 40px;
}

.banner_btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.client_section {
    background: var(--main-color);
}

.client_slider_item {
    background: var(--global-color);
    padding: 12px 15px;
    border-radius: 12px;
    margin: 0px 12px;
}



.client_slider_item img {
    width: unset;
    max-width: 100%;
    height: 80px;
    object-fit: contain;
    margin: 0px auto;
}

.client_section_title h1 {
    color: var(--global-color);
    text-align: center;
    margin-bottom: 30px;
}

.our_service {
    background: var(--main-color);
}

.our_service_content {
    background: var(--global-color);
    padding-top: 85px;
    padding-bottom: 50px;
}

.service_wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.service_item {
    width: 100%;
    text-align: center;
    position: relative;
    padding: 25px 20px;
    border-radius: 12px;
    background: var(--global-color);
    box-shadow: 0px 5px 30px rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: var(--transition);
    z-index: 1;
    overflow: hidden;
}

.service_item::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0px;
    top: 0px;
    right: 0px;
    background: var(--main-color);
    z-index: -1;
    transition: var(--transition);
}

.service_item:hover::after {
    left: 0px;
    width: 100%;
}

.service_item:hover .service_item_title {
    color: var(--global-color);
}

.service_item:hover .service_item_icon i {
    color: var(--global-color);
}

.service_item:hover .service_item_text {
    color: #cfcfcf;
}

.service_item_icon {
    margin-bottom: 20px;
}

.service_item_icon i {
    font-size: 54px;
    color: var(--hero-color);
    display: block;
    transition: var(--transition);
}

.service_item_title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 6px;
    transition: var(--transition);
}

.service_item_text {
    transition: var(--transition);
    font-weight: 300;
}

.about_section {
    background-image: url(../image/h2_blog_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.about_section::after {
    position: absolute;
    content: "";
    background-image: url(../image/shape.png);
    top: 0px;
    right: 0px;
    height: 280px;
    width: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    display: none;
}

.about-section_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px 8%;
    flex-wrap: wrap;
}

.about_section_thumb,
.about_section_content {
    width: 100%;
}

.about_button {
    margin-top: 30px;
}

/* company overview */

.company_overview {
    background-color: var(--bg-color);
    position: relative;
    z-index: 1;
}

.company_overview::after {
    content: "";
    position: absolute;
    height: 300px;
    width: 30%;
    top: 0px;
    right: 0px;
    background: url(../image/shape2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.company_over_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px 0;
    flex-wrap: wrap;
}

.overview_tabnav {
    width: 100%;
    background: var(--global-color);
    padding: 30px 20px;
    border-radius: 12px;
    position: relative;
    z-index: 1;
    box-shadow: 0 5px 3px rgb(3 27 78 / 8%);
    margin-right: 0px;
}

.overview_tabnav::before {
    position: absolute;
    right: -30px;
    bottom: -30px;
    content: "";
    height: 100%;
    width: 100%;
    border-right: 30px solid var(--main-color);
    border-bottom: 30px solid var(--main-color);
    z-index: -1;
    opacity: 0.06;
    border-radius: 12px;
    display: none;
}

.overview_tabnav .nav-link.active {
    background: var(--main-color);
    border-color: var(--main-color) !important;
    color: var(--global-color);
}

.overview_tabnav .nav-link {
    display: block;
    text-align: left !important;
    width: 100%;
    border: none;
    margin: 0;
    border: 2px solid #e7e7e7 !important;
    margin-top: 15px;
    border-radius: 10px;
    color: var(--heading-color);
    padding: 12px 30px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    position: relative;
    z-index: 1;
    gap: 16px;
}

.overview_tabnav .nav-link::after {
    position: absolute;
    content: "";
    background: url(../image/shape.png);
    height: 100%;
    width: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    right: 0px;
    top: 0px;
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
}

.overview_tabnav .nav-link.active::after {
    visibility: visible;
    opacity: 1;
}

.overview_tabnav .nav-link i {
    display: inline-block;
    font-size: 40px;
    position: relative;
    top: 3px;
}

.overview_tabnav_top {
    margin-bottom: 25px;
}

.over_view_subtitle {
    text-transform: uppercase;
    color: var(--heading-color);
    font-weight: 700;
    background: linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
}



.over_view_title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.overview_tabnav .nav-tabs {
    border: none;
}

.overview_tabnav .nav-item {
    width: 100%;
    display: block;
}

.overview_tabnav_body {
    width: 100%;
    padding: 20px 0;
}

.over_content_mainheading {
    padding: 15px 20px;
    color: var(--global-color);
    background: var(--main-color);
    border-radius: 12px;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 30px;
}

.policy_list {
    padding: 0px 24px;
}

.policy_list ul li:not(:last-child) {
    margin-bottom: 15px;
}

.policy_list ul li {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.policy_icon {
    position: relative;
    height: 26px;
    width: 26px;
    display: grid;
    place-content: center;
    font-size: 16px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 6px;
}

.policy_list_content {
    width: calc(100% - 38px);
}

.overview_tabnav_body .tab-content {
    background: var(--global-color);
    border-radius: 12px;
    padding-bottom: 20px;
}

.policylist_title {
    font-size: 17px;
    margin-bottom: 6px;
}

.policylist_text {
    font-size: 13px;
}

.blog_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.blog_item {
    width: 100%;
    background: var(--bg-color);
    padding: 8px;
    border-radius: 12px;
    position: relative;
}

.blog_item_thumb img {
    border-radius: 6px;
    min-height: 200px;
    max-height: 200px;
}

.blog_item_content {
    padding: 12px 12px;
}

.blog_item_title {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 8px;
}

.blog_item_text {
    font-size: 14px;
}

.blog_item_text {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
}

.read_button a {
    padding: 5px 15px !important;
    font-size: 14px;
}

.blog_date {
    font-size: 13px;
    color: var(--main-color);
    font-weight: 500;
    margin-bottom: 5px;
}

.certification_section {
    background-image: url(../image/bg-fullshape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.certification_section .about-section_wrapper {
    flex-direction: row-reverse;
}

.contact_section {
    position: relative;
}

.contact_section .overview_tabnav_top {
    max-width: 700px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.contact_section .over_view_subtitle {
    text-transform: uppercase;
    color: var(--heading-color);
    font-weight: 700;
    background: linear-gradient(90deg, var(--global-color) 0%, var(--primary-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
}

.contact_section .over_view_title {
    color: var(--global-color);
}

.contact_wrapper {
    padding: 20px;
    border-radius: 12px;
    background: var(--main-color);
    overflow: hidden;
}

.contact_main {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

.contact_form {
    background: var(--global-color);
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    z-index: 2;
}

.contact_input_inner input,
.contact_input_inner textarea {
    display: block;
    width: 100%;
    padding: 10px 15px;
    height: 46px;
    border-radius: 6px;
    outline: none;
    border: 1px solid var(--border-color);
}

.contact_input_inner textarea {
    height: 100px;
}

.contact_input_inner button {
    width: 100%;
}


.contact_info {
    width: 100%;
    position: relative;
    z-index: 1;
}

.contact_info::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 770px;
    height: 770px;
    border-radius: 50%;
    background-color: var(--heading-color);
    z-index: -1;
    display: none;
}

.contact_info_title {
    font-size: 24px;
    color: var(--global-color);
    margin-bottom: 24px;
}

.contact_block_title {
    font-size: 16px;
    color: #d2d2d2;
    margin-bottom: 6px;
}

.contact_block {
    max-width: 450px;
    width: 100%;
}

.contact_block:not(:last-child) {
    margin-bottom: 10px;
}

.contact_block p {
    display: flex;
    align-items: flex-start;
}

.contact_block p span {
    margin-right: 6px;
    flex-shrink: 0;
}

.footer-area {
    background: var(--heading-color);
}

.space__bottom--40 {
    margin-bottom: 40px;
}

.footer-widget__logo {
    width: 90px;
}

.footer-widget__text {
    max-width: 310px;
    width: 100%;
    color: #DDD;
}

.footer-widget .social-icons li {
    display: inline-block;
    margin-right: 15px;
    margin-top: 20px;
}

.footer-widget .social-icons li a {
    font-size: 14px;
    line-height: 30px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0 5px;
    text-align: center;
    color: #DDD;
    border: 1px solid;
}

.space__top--15 {
    margin-top: 15px;
}

.footer-widget__title {
    font-weight: 700;
    color: #DDD;
    margin-bottom: 20px;
    font-size: 24px;
}

.footer-widget__menu li {
    margin-bottom: 10px;
}

.footer-widget__menu li a {
    color: #DDD;
}

.single-footer-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.single-footer-contact__icon {
    -ms-flex-preferred-size: 20px;
    flex-basis: 20px;
}

.single-footer-contact__icon i {
    color: #DDD;
}

.single-footer-contact__text {
    line-height: 1.2;
    -ms-flex-preferred-size: calc(100% - 20px);
    flex-basis: calc(100% - 20px);
    margin-left: 15px;
    color: #DDD;
}

.single-footer-contact__text,
.single-footer-contact__text a {
    line-height: 1.2;
    -ms-flex-preferred-size: calc(100% - 20px);
    flex-basis: calc(100% - 20px);
    margin-left: 15px;
    color: #DDD;
}