/* 400 */
@media(min-width: 400px) {
    .service_item {
        width: calc(100% / 2 - 12px);
    }
}

/* 576 */
@media(min-width: 576px) {
    .blog_item {
        width: calc(100% / 2 - 12px);
    }
}

/* 768 */
@media(min-width: 767px) {

    .section_padding {
        padding: 50px 0px;
    }

    .banner_content_title {
        font-size: 36px;
        line-height: 42px;
    }

    .banner_content_text {
        font-size: 17px;
    }

    .logo_image {
        width: 60px;
    }

    .client_slider_item {
        padding: 20px 30px;
    }

    .section_title_heading {
        font-size: 32px;
        line-height: 40px;
    }

    .section_title_text {
        font-size: 16px;
    }

    .banner_section {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .service_item {
        width: calc(100% / 3 - 16px);
    }

    .about_section_thumb,
    .about_section_content {
        width: calc(100% / 2 - 4%);
    }

    .blog_item {
        width: calc(100% / 3 - 16px);
    }

    .over_view_title {
        font-size: 28px;
        line-height: 28px;
    }
}

/* 992 */
@media(min-width: 992px) {
    .mobile_logo {
        display: none;
    }

    .contact_info::after {
        display: block;
    }

    .contact_wrapper {
        padding: 50px 40px;
    }

    .contact_info {
        width: calc(50% - 12px);
        padding-left: 50px;
    }

    .contact_form {
        width: calc(50% - 12px);
        padding: 50px;
    }

    .banner_content_title {
        font-size: 42px;
        line-height: 46px;
    }

    .section_title_heading {
        font-size: 36px;
    }

    .about_section::after {
        display: block;
    }

    .overview_tabnav {
        width: 450px;
        margin-right: 50px;
    }

    .overview_tabnav::before {
        display: block;
    }

    .overview_tabnav_body {
        width: calc(100% - 500px);
    }

    .blog_item {
        width: calc(100% / 4 - 18px);
    }
}

/* 1240 */
@media(min-width: 1200px) {

    .our_service_content {
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        padding-top: 85px;
        padding-bottom: 50px;
    }
}

/* 1400 */
@media(min-width: 1400px) {}